.monster {


        // Monster Heading Boxes
        &__heading-box-1,
        &__heading-box-2 {
            @include clipPath(0, 0, 100%, 0, 95%, 100%, 0, 100%);
            align-items: center;        
            background-color: #222222;
            border-radius: 3px;
            display: flex;
            justify-content: flex-end;
            position: relative;
    
            height: 90px;
    
            &--icon {
                padding-right: 2rem;
                display: block;
                height: 80px; 
            }
    
            @include respond(phone) {
                clip-path: none;
            }
        }
    
    
        &__heading-box-1 {
            max-width: 750px;
            margin-top: 5rem;
            // transition: all 5s;
    
            @include respond(tablet-portrait) {
                max-width: 450px;
            }
    
            @include respond(phone) {
                max-width: 350px;
            }
    
            @include respond(smaller-phone) {
                max-width: 300px;
            }
        }
    
    
        &__heading-box-2 {
            max-width: 550px;
    
            margin-top: 8rem;
            margin-bottom: 3rem;
    
            @include respond(tablet-portrait) {
                max-width: 450px;
            }
    
            @include respond(phone) {
                max-width: 280px;
            }
    
            @include respond(smaller-phone) {
                max-width: 250px;
            }
    
        }
    
}