.monster-box {
    @include addWidth;
    
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin: 0 auto;
    margin-top: 5rem;

    @include respond(tablet-portrait) {
        grid-template-columns: repeat(1, 1fr);
        max-width: 50rem;
    }

    &__render {

        @include respond(smaller-phone) {
            padding: 0 1rem;
        }

        &--img {
            filter: drop-shadow(5px 5px 5px #222);
            display: block;
            width: 100%;
            transition: all .3s;

            &:hover {
                cursor: pointer;
                filter: drop-shadow(5px 5px 5px $primary-color-dark);
            }
        }
    }
    
    &__info {
        // position: absolute;
        // top: 5rem;
        // right: -15rem;
        // width: 60rem;

        background-color: #222222;
        border-radius: 2px;
        display: block;
        height: fit-content;
        padding: 2rem;
    }

    &__heading {
        font-size: 3rem;
    }

    &__text {
        color: #fff;
        font-size: 1.7rem;
        display: block;

        &-main {
            color: $primary-color;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    // monster__grid-list
    &__grid-list {
        // background-color: #fff;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
        color: #fff;
        font-size: 1.7rem;
    }

    // monster__list
    &__list {
        list-style: none;
        // text-transform: capitalize;
    }




    // LOCATIONS
    &__location {
        @include addWidth;
        color: #fff;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        @include respond(tablet-portrait) {
            grid-template-columns: repeat(2, 1fr);
            padding: 0 6rem;
        }

        @include respond(phone) {
            padding: 0 2rem;
        }


        @include respond(older-phone) {
            grid-template-columns: repeat(1, 1fr);
        }

        &--name {
            font-size: 1.8rem;
            padding-bottom: 1rem;
            text-align: center;
        }

        &--img {
            display: block;
            width: 100% !important;
            transition: all .3s;
            
            &:hover {
                cursor: pointer;
            }
        }
    }
}