.monster{

    // ICONS
    &__icons {
        @include addWidth;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 3rem;
        margin: 0 auto;
        margin-top: 4rem;
    
        @include respond(tablet-portrait) {
            grid-template-columns: repeat(3, 1fr);
            padding: 0 6rem;
        }

        @include respond(phone) {
            grid-gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
            padding: 0 1rem;
            
        }

        &-box {
            background-color: #333;
            border-radius: 3px;

            padding: 2rem;
            text-align: center;

            &--heading {
     
                // font-size: 1.8rem;
                margin-bottom: 2rem;

                &-main {
                    color: #fff;
                    display: block;
                    font-size: 1.7rem;
                    text-align: left;
                }

                &-sub {
                    color: $primary-color;
                    display: block;
                    text-align: left;
                }
            }
    
            &--icon {
                filter: drop-shadow(5px 5px 5px #222);
                
                margin: 0 auto;
                // mess with the width later
                width: 70% !important;
                transition: all .3s;

                &:hover {
                    cursor: pointer;
                    filter: drop-shadow(5px 5px 5px $primary-color-dark);
                }

                @include respond(tablet-portrait) {
                    width: 70% !important;
                }
                @include respond(phone) {
                    width: 100% !important;
                }
            }
        }
    }
}
