body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Barlow', sans-serif;
    height: 100vh;
    line-height: 1.5;

    @include respond(tablet-portrait) {
        background-attachment: scroll;
        background-color: #000;
    }
}

.primary-heading {
    color: #fff;
    font-size: 3.6rem;
    font-weight: 900;
    text-align: center;
    text-shadow: 0 1.5rem 3rem rgb(0, 0, 0);
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include respond(tablet-portrait) {

    }
}

.instructions {
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    text-shadow: 0 1.5rem 3rem rgb(0, 0, 0);
    padding: 4rem 0 0;

    @include respond(tablet-portrait) {
        margin: 0 auto;
        width: 50rem;
    }

    @include respond(phone) {
        margin: 0 auto;
        width: 30rem;
    }
}

.secondary-heading {
    height: 80px;
    // text-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 

    &--main {
        color: #fff;
        display: block;
        font-size: 3rem;
        padding-right: 4rem;

        @include respond(phone) {
            font-size: 2.2rem;
            padding-right: 2rem;
        }
    }

    &--sub {
        color: $primary-color;
        display: block;
        font-size: 2rem;
        padding-right: 4rem;

        @include respond(phone) {
            padding-right: 2rem;
        }
    }
}